$color-1= mediumslateblue
#app-render
	position relative
.d3Render
	position relative
.tooltip
	position absolute
	width 200px
	padding 5px
	border 1px solid black
	color $color-1
	background white
	opacity: 0
	display none

#edit-form
	position absolute
	top 0px
	right 30px
	padding 10px
	background: white
	border 1px solid #dadada
	.confirm
		color $color-1
	.reject
		color red
	.result-view-win
		color: $color-1
	.result-view-lose
		color: red
.tick
	fill black
.displnone
	display: none;
