.d3RenderExample
	path
		stroke: steelblue;
		stroke-width: 2;
		fill: mediumslateblue;


	.axis path,
	.axis line
		fill: none;
		stroke: grey;
		stroke-width: 1;
		shape-rendering: crispEdges;

.tick
	fill black
